<table >
       <tr>
         <th>Quizes</th>
         <%if current_user.admin?%>
              <th>
                  Update Quiz
              </th>
              <th>
                  Delete Quiz
              </th>
        <%end%>
           <th >Quiz</th>
        <%if current_user.admin?%>
              <th>
                  Questons
              </th>
        <%end%>
         <th> Status</th>
         <th> Score </th>
            <th >Leaderboard</th>
        </tr>
 </table>
  <% @quizes.each do |quize| %>
    <table class="table table-striped">
      <tr>
        <td>
          <%= quize.name %>
       </td>
       <%if current_user.admin?%>
            <td>
                 <%= link_to "Update", edit_quize_path(quize) %> 
            </td>
            <td> 
               <%= link_to "delete", quize, method: :delete,
                                           data: { confirm: "You sure?" } %>
            </td>
        <%end%>
        <td>
          <%= link_to "Quiz", '/games/'+ String(quize.id), method: :get%>
        </td>
        <%if current_user.admin?%>
            <td>
                 <%= link_to "Quiz Questions", '/questions/'+ String(quize.id), method: :get%>
            </td>
        <%end%>
        <%if GameState.find_by(user_id: current_user.id, quize_id: quize.id)==nil%>
            <td> <b> UnAttempted </b></td>
            <td> <b> 0 </b> </td>
        <%else%>
            <td> <b> Attempted </b></td>
            <td> <b> <%=GameState.find_by(user_id: current_user.id, quize_id: quize.id).Score%> </b> </td>
        <%end%>
        <td>
          <%= link_to "leaderboard", '/leaderboards/lquiz/'+ String(quize.id), method: :get%>
        </td>
      </tr>
<%end%>
</table>
