<!DOCTYPE html>
<html>
  <head>
    <title>Brainhub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "BrainHub", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/quizes"><b style="font-size: 20px; color: orange " id="logo1">Quiz Status</b></a></li>
            <li><a href="/"><i class="fa fa-home" style="font-size:34px; color : royalblue"></i></a></li>
            <% if logged_in? %>
                <li> <a href="/users"><i class="fa fa-group" style="font-size:29px ; color : #8E3E3E "></i></a> </li>
              <li class="dropdown">
                <button class="dropbtn"><b style="font-size:18px"> Account </b></button>
                <ul class="dropdown-content">
                  <%= link_to "Profile", current_user %>
                  
                  <%if current_user.admin?%>
                    <%= link_to "Add Genre", '/genres/new'%>
                    <%= link_to "Add Sub Genre", '/subgenre'%>
                    <%= link_to "Add Quiz", '/quiz'%>
                    <%= link_to "Question Set", '/question'%>                    
                  <%end%>
                  <%= link_to "Settings", edit_user_path(current_user) %> </i>
                  <%= link_to "Logout", '/logout' , method: :delete %>
                </ul>
              </li>

            <% else %>
              <li><%= link_to "Sign Up", '/SignUp' %></li>
              <li><%= link_to "Login", '/login' %></li> 
            <%end%>                       
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
