<% provide(:title, 'Questions') %>
<h1 style="text-align:center; color:grey ">Update Questions</h1></br></br></br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@question) do |f| %>
    <%= render 'shared/error_messages1' %>
      
      <%= f.label :Choice %>
      <%= f.text_field :Choice ,class: 'form-control' %>
      </br>

      <%= f.label :Problem %>
      <%= f.text_field :Problem ,class: 'form-control'%>
        </br>
      
      <%= f.label :Option_A %>
      <%= f.text_field :Option_A ,class: 'form-control'%>

        </br>
      <%= f.label :Option_B %>
      <%= f.text_field :Option_B,class: 'form-control' %>

      </br>
      <%= f.label :Option_C %>
      <%= f.text_field :Option_C,class: 'form-control' %>

      </br>
      <%= f.label :Option_D %>
      <%= f.text_field :Option_D ,class: 'form-control'%>

      <%= f.label :Correct_Answer %>
      <%= f.text_field :Correct_Answer ,class: 'form-control'%>
      </br>

      <%= f.label :quize_id %>
      <%= f.select 'quize_id', options_for_select(@quiz_name.collect{ |u| [u.name, u.id] })%>
      </br>

      <%= f.submit "Save Changes", class: "btn btn-primary" %>
    <% end %>
    </br>
  </div>
</div>